.all{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: blueviolet;
    font-family: sans-serif;
    font-style: italic;
}

.show{
    display: flex;
    flex-direction: column;
    height: auto;
    border: dotted;
    justify-content: space-around;
    margin: 10px 10px;
    padding: 10px;
}

.get{
    display: flex;
    flex-direction: column;
    height: auto;
    border: dotted;
    justify-content: space-around;
    margin: 10px 10px;
    padding: 10px;
}

.postBookmark{
    display: flex;
    flex-direction: column;
    height: auto;
    border: dotted;
    justify-content: space-around;
    margin: 10px 10px;
    padding: 20px;
}

label{
    padding: 5px;
}



button{

    margin-top: 5px;
    justify-content: center;
    align-items: center;
}
.patch{
    display: flex;
    flex-direction: column;
    height: auto;
    border: dotted;
    justify-content: space-around;
    margin: 10px 10px;
    padding: 20px;
    
}

h2 {
    text-align: center;
}

.bookmark{
    display: flex;
    flex-direction: column;
    height: auto;
    border: dotted;
    justify-content: space-around;
    margin: 10px 10px;
    padding: 10px;
}
.error{
    text-align: center;
    color: red;
}